body {
	padding: 0;
	margin: 0;
}
.topo {
	background-color: #ff0000;
	height: 76px;
	margin-top: -4px;
}
.cor {
	color: black;
}
.menu {
	color: black;
	margin-left: 80px;
}
.menu li, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li {
	float: left;
	line-height: 76px;
	padding-left: 25px;
	padding-right: 25px;
}
.menu li:hover {
	background-color: #d60b0b;
	cursor: pointer;
}
.login {
	float: right;
	margin-right: 80px;
}
.login li, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.login li {
	float: left;
	line-height: 76px;
	padding-left: 25px;
	padding-right: 25px;
}
.login li:hover {
	background-color: #d60b0b;
	cursor: pointer;
}
.image {
	width: 100%;
	height: 400px;
}
.imageface {
	position: fixed;
	width: 40px;
	margin-top: -100px;
}
.imageface:hover {
	width: 60px;
	height: 40px;
	cursor: pointer;
}
.twitter {
	position: fixed;
	margin-top: -55px;
	float: left;
	width: 40px;
}
.twitter:hover {
	width: 60px;
	height: 40px;
	cursor: pointer;
}
.escrita {
	
	margin: center;
	width: 100%;
	height: 500px;
}
.escrita h1 {
	text-align: center;
	font-family: cursive;
	font-size: 50px;
}
.publicação1 {
	float: left;
}
.samu {
	color: #ffaa00;
}
.vote {
	font-size: 20px;
}
.samu1 {
	color: #aa00aa;
}
.escrita h2 {
	float: left;
}
.ricardo {
	color: #aa00aa;
}
.container {
	display: flex;
	flex-direction: row;
	margin-top: 75px;
}
.container img {
	flex: 1;
	margin: 20px;
	padding: 20px;
}
/* FACTION : NATALINO*/
/* VIP 1 : Neve*/
/* VIP 2 : TRENO*/
/* VIP 3 : NEVASCA*/
/* VIP 4 : NOEL*/
/* teste */