.teto {
	font-size: 20px;
}
.cla {
	width: 75px;
	height: 75px;
}
.staffs {
	margin-top: 50px;
	text-align: center;
}
.staff {

}
.staff div {


}
.sub {
	color: #ff5555;
}
.teste {
	line-height: 75px;
}